body { background-color:black; color:grey; overflow-y: hidden }
img { width:20%; }
table { width:50%; }
td { text-align:center; width:25%; border:1px solid green; }
td:hover { border:1px solid red; }